.nav-side {
  overflow: hidden;
  position: relative;
  .box-shadow(inset -13px 0px 15px -14px #979797);
}

.nav-side > h1, h2, h3, h4, h5, h6 {
  text-align: center;
}

.nav-side > li > a > i {
  padding-top: 0.7em;
}

.nav-side > li > .btn {
  padding: 2.25em 2em;
  // background-color: transparent;
  border: none;

  &:hover,
  &:focus,
  &:active,
  &.active {
    color: @grayDark;
  }
}